<div class="max-w-7xl mx-auto">
  <h1 class="text-2xl font-semibold mb-4">Components</h1>

  <div class="grid grid-cols-1 md:grid-cols-4 gap-4">
    <%= render "filters" %>

    <div id="components" class="col-span-3 self-start grid grid-cols-1 md:grid-cols-3 gap-4">
      <% if @page.records.any? %>
        <% @page.records.each do |component| %>
          <%= render "component", component: %>
        <% end %>
      <% else %>
        <%= empty_state("No components found matching your search") %>
      <% end %>
    </div>

    <%= render "shared/load_more", id: :load_more_components, page: @page, path: components_path %>
  </div>
</div>
