<p>Hello,</p>

<p>You've been invited to join the DEC Owner's Registry! Click the link below to create your account and set up your profile:</p>

<p><a href="<%= @accept_url %>">Accept Invitation</a></p>

<p>This invitation will expire in 30 days.</p>

<p>If you have any questions, please contact the administrator.</p>

<p>Welcome,<br>DEC Owner's Registry</p>