<%# decor/app/views/mailers/invite_mailer/reminder_email.html.erb - version 1.0 %>
<%# Reminder email sent after 20 days to invitees who have not yet registered. %>
<%# Mirrors the style of invite_email.html.erb. %>

<p>Hello,</p>

<p>Your DEC Owner's Registry invitation expires in 10 days, please register soon.</p>

<p><a href="<%= @accept_url %>">Accept Invitation</a></p>

<p>If you have any questions, please contact the administrator.</p>

<p>Welcome,<br>DEC Owner's Registry</p>
