<p>Hello <%= @owner.user_name %>,</p>

<p>You recently requested to reset your password for your DEC Owner's Registry account. Click the link below to reset it:</p>

<p><a href="<%= @reset_url %>">Reset Password</a></p>

<p>This link will expire in 2 hours.</p>

<p>If you didn't request a password reset, you can safely ignore this email. Your password will not be changed.</p>

<p>Thanks,<br>DEC Owner's Registry</p>
